.ColorPane {
  height: 100vh;
}

.Delete{
    text-align:center;
    margin:auto;
    display:flex;
    display:grid;
}
.arrows{
  display:flex;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
}